body {
  font-family: Arial;
  background: #f4f4f4;
  text-align: center;
}


.container {
  background: white;
  padding: 20px;
  width: 80%;
  margin: 50px auto 0 auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input {
  padding: 10px;
  width: 300px;
}

  padding: 10px 15px;
  cursor: pointer;
  margin: 5px;
  border: none;
  background: #007bff;
  color: white;
  border-radius: 5px;
}

button:hover {
  background: #0056b3;
}
body {
  font-family: Arial;
  background: #f4f6f9;
  margin: 0;
}

.container {
  width: 80%;
  margin: auto;
  padding: 20px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

.input-box input {
  padding: 10px;
  width: 300px;
}

button {
  padding: 10px;
  margin: 5px;
  border: none;
  background: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

#loader {
  display: none;
  margin: 10px;
}

.card {
  background: white;
  padding: 15px;
  margin: 15px 0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th {
  background: #333;
  color: white;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
}

.WORKING { color: green; }
.BROKEN { color: red; }
.REDIRECT { color: orange; }

/* Dark Mode */
.dark {
  background: #121212;
  color: white;
}

.dark .card {
  background: #1e1e1e;
}

.dark table {
  color: white;
}
